@page "/"

<h1>WebView Bug</h1>

<p>Click the dropdown below. Observe that the dropdown items do not appear.</p>

<select>
    <option value="Foo" selected>foo</option>
    <option value="Bar">bar</option>
    <option value="Quux">quux</option>
</select>
