@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<select>
    <option value="Foo" selected>foo</option>
    <option value="Bar">bar</option>
    <option value="Quux">quux</option>
</select>
